/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

/user_uploads/
/user_converted_uploads/
/create_test_snaps_files
/public/snap/
/.idea/
/.setup
.DS_Store
.bash_history
docker-compose-prod.yaml

/.php-cs-fixer.php
/.php-cs-fixer.cache

/phpunit.xml
.phpunit.result.cache

/.features
docker_data/

phpstan.neon

.cache
.local
.config
.env
