parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
