<div class="flex justify-center bg-zinc-200 pt-14 pb-14 md:pt-28 md:pb-20">
    <div class="flex flex-col">
        <h1 class="title text-6xl md:text-8xl font-black select-none">filesnap</h1>
        <p class="font-bold text-2xl self-end mr-12 mt-2 md:mr-20">snap & share</p>
    </div>
</div>
