<div class="flex-grow flex justify-center items-end pb-1">
    <p class="text-stone-400 text-sm"><a href="https://github.com/maximethiry/filesnap" class="underline">filesnap</a> version {{ project_version() }}</p>
</div>