{% extends 'base.html.twig' %}

{% block page_title %}login{% endblock %}

{% block body %}
    {% include 'client/partials/big-header.html.twig' %}

    <div class="flex justify-center py-12 md:py-16">
        <form class="flex flex-col items-center" action="{{ path('client_login') }}" method="post">
            {% if setup_finished %}
                <p class="text-center text-green-700">
                    Setup finished successfully! You can now log in to your admin account.
                </p>
            {% endif %}

            <div class="space-y-6">
                <div class="input-group">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="_username" value="{{ last_username }}" autocomplete="username" required>
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="error mt-5">
                {% if error %}
                    <p class="text-center text-red-600">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            </div>

            <div class="flex justify-center mt-5">
                <button data-turbo-submits-with="Logging in..." class="button py-2 px-4 bg-sky-200 select-none space-x-2" type="submit">
                    <span>Log in</span>
                    <i class="flex text-stone-800 fi fi-br-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>

    {% include 'client/partials/footer.html.twig' %}
{% endblock %}